#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     background-image: url(./assets-img/galaxy-img.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(12, 6, 34, 0.7);
  background-blend-mode: overlay;    
}
img {
    width: 100%;
  }