#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #c9b7f6;
     background-image: url(./assets-img/galaxy-img.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
}
img {
    width: 100%;
  }