#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   background-color:#fde8fb;
     background-image: url(./assets-img/galaxy-img.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: right;
}
img {
    width: 100%;
  }